# python
__pycache__/
*.pyc
.venv/
.env

# os/editor
.DS_Store
.vscode/

# data (keep only samples)
data/*
!data/sample/
!data/sample/**
!data/static/
!data/static/**

# artifacts
*.png
*.pdf
*.csv~ 
